
.container{
    margin: 0px auto;
    height: 350px;
    width: 1000px;
    border: grey 2px solid;


    
}
.color{
    background-color: aqua;
    width: inherit;
    height: 100px;
}

.color2{
    background-color:white ;

}

.user, .color2 {
    margin-left: 20px;
}

.user {
    
    margin-top: -30px;
    border-radius: 50%;
    border: grey 2px;
